compile_commands.json
.pio/
build_*/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
*.bin
*.elf
*.map
.DS_Store
Thumbs.db
__pycache__/
scripts/.venv/
build/
